.jumbotron {
    padding-top: 6rem;
    background-color: #e3edff;
}

#project{
    background-color: #e3edff;
}

#education{
    background-color: #e3edff;
}

section{
    padding-top: 6rem;
}
